body {
  margin: 0;
  overflow: hidden;
}

.country-input {
  text-align: center;
}

.dot {
  fill: skyblue
}

.outline {
  fill: #d6ebff;
  stroke: black;
  stroke-width: 2;
}

.graticule {
  fill: none;
  stroke: #BBB;
  stroke-width: 0.5;
}

.country {
  fill: rgb(88, 159, 107);
  stroke: #626363;
}

.center-circle {
  fill: red;
  opacity: 0.4;
}